<h1><%= @user.username %></h1>

<h3><%= @user.fname %>  <%= @user.lname %></h3>

<h4><%= @user.email %></h4>
<p>Location: <%= @user.location %></p>
<p>Bio: <%=@user.bio %></p>
<h3><%= @user.fname %>'s ditties</h3>
<ul>
  <% @user.ditty.each do |ditty| %>
  <li><%= link_to ditty.body, ditty %></li>
  <% end %>
</ul>
<hr>
<p>
  <%= link_to 'edit user', edit_user_path(@user) %> |
  <%=link_to 'back to users', users_path %>
</p>
