<!DOCTYPE html>
<html>
<head>
  <title>Socialmelody</title>

  <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
  <header>
    <nav>
      <% if current_user %>
        <%= "Hello #{current_user.username}" %> |
        <%= link_to "logout", logout_path, method: :delete %> |
        <%= link_to "Compose a Ditty!", new_ditty_path %>
      <% else %>
         <%= link_to "Sign up", new_user_path %> |
         <%= link_to "Sign in", new_session_path %>
      <% end %>
    </nav>
 </header>
<%= flash[:notice] if flash[:notice] %>
<%= flash[:alert] if flash[:alert] %>

<%= yield %>

	<script>
$(document).ready(function(){

$('#submit').ready(function(){
	if ($('#linkInput').html().indexOf('soundcloud.com') !== -1) {
		// $('#message').text('fetching player...');
		getPlayer($('#linkInput').html(), function(response) {
			$('#players').append(response.html);
			// $('#message').text('done');
		});
	} else {
		$('#message').text('Must input proper soundcloud link');
	}
});

var getPlayer = function(link, callback) {
	$.getJSON('http://soundcloud.com/oembed?format=js&url=' + link + '&iframe=true&callback=?', callback);
};
});
	</script>




</body>
</html>
